<div class="modal-dialog modal-md">
  <div class="modal-content">
    <form autocomplete="off" [formGroup]="addCategoriaForm" (ngSubmit)="submit()">
      <div class="modal-header text-center">
        <h3>Agregar una categoría</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{'has-error': formErrors.nombreCategoria}">
              <label for="nombreCategoria" class="">Nombre</label>
              <input
                type="text"
                id="nombreCategoria"
                name="nombreCategoria"
                formControlName="nombreCategoria"
                class="form-control form-control-min"
                placeholder="Ej: Becas" />
                <div *ngIf="formErrors.nombreCategoria" class="help-block">
                  {{ formErrors.nombreCategoria }}
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{'has-error': formErrors.descripcionCategoria}">
              <label for="descripcionCategoria" class="">Descripción</label>
              <textarea
                type="text"
                name="descripcionCategoria"
                formControlName="descripcionCategoria"
                class="form-control form-control-min"
                placeholder="Ingrese la descripción de la categoría aquí..."
                rows="10">
              </textarea>
                <div *ngIf="formErrors.descripcionCategoria" class="help-block">
                  {{ formErrors.descripcionCategoria }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row col-md-8 pad-r-3">
          <button type="button" (click)="back()" class="btn btn-md btn-info">Cerrar</button>
          <button type="submit" class="btn btn-md btn-info">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
